@charset "UTF-8";

/* padrao */
#textos {
    padding: 15px;
    border: 3px solid #ad1d16;
    margin: 30px;
    text-align: justify;
    border-radius: 30px;
}

#tituloMusical {
    border-bottom: 3px solid #ad1e1635;
}

#musical {
    text-align: center;
    font-size: 29pt;
}

/*APENAS CELULAR */
@media only screen and (max-width: 600px) {
    
    #textos {
        padding: 15px;
        border: 3px solid #ad1d16;
        margin: 30px;
        text-align: justify;
        border-radius: 30px;
    }

    #tituloMusical {
        border-bottom: 3px solid #ad1e1635;
    }

    #musical {
        text-align: center;
        font-size: 29pt;
    }
}