@charset "UTF-8";


/*APENAS CELULAR */
@media only screen and (max-width: 600px) {

    #cabecalho {
        background-color: #a67c00;
        width: 106%;
        text-align: center;
        font-family: Helvetica;
        text-transform: uppercase;
        margin-top: -7.8%;
        margin-left: -4%;
        font-size: 17pt;
        color:white;
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
    }

    #conheca {
        text-align: center;
        font-family: Helvetica, sans-serif;
        padding: 10px;
        color: #ad1d16;
    }
    
    #galeria {
        text-align: center;
    }
    
    #fotos {
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        margin: 10px;
        width: 95%;
    }

    #foto-teste {
        border: 3px solid #ad1d16;
        border-radius: 30px;
        box-shadow: 0px 0px 10px rgba(0,0,0,.4);
        margin: 10px;
        width: 80%;
    }

    #tituloMusical {
        border-bottom: 3px solid #ad1e1635;
        font-family: Helvetica, sans-serif;
    }

    #musical {
        text-align: center;
        font-size: 29pt;
    }

    #voltar {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #botao {
        color: white;
        text-align: center;
        padding: 10px 20px;
        background-color:#a67c00;
        border-radius: 100px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20pt;
        text-decoration: none;
        transition: .2s;
    }

    #botao:active {
        opacity: .7;
    }

    #seta {
        font-size: 15pt;
        font-weight: bolder;
    }
}