@charset "UTF-8";
@font-face {
    font-family: "Amarillo";
    src: url("fonts/Amarillo.ttf") format('truetype');
}

/* Estilos gerais */

body {
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
}

#fotocarol {
    background-image: url("https://carolxv.github.io/imagens/header.png");
    text-align: center;
    background-position:initial;
    vertical-align: middle;
}

#confirme {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#cabecalho {
    background-color: #a67c00;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#carol {
    font-size: 30pt;
    font-family: "Amarillo";
    margin-bottom: -70px;
    margin-left: -20px;
    display: block;
}

#anos {
    font-size: 20pt;
    font-family: 'Amarillo';
    margin-left: 80px;
    display: block;
}

#botao {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background-color: #a67c00;
    padding: 15px 20px;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20pt;
    }

    #fotocarol {
        background-image: url("https://carolxv.github.io/imagens/header.png");
        background-position: center;
        text-align: center;
        margin-left: -2%;
        vertical-align: middle;
        margin-top: -1.6%;
        width: 104%;
        box-shadow: 0px 0px 20px rgba(0,0,0, .4);
        height: 320px;
    }

    #cabecalho {
        background-color: #a67c00;
        background-position: center;
        text-align: center;
        margin-left: -2%;
        vertical-align: middle;
        margin-top: -8.3%;
        width: 104%;
        box-shadow: 0px 0px 20px rgba(0,0,0, .4);
        padding: 10px 10px 01px 10px;
        color: white;
        margin-bottom: 100px;
    }

    #cabecalho h1 {
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;

    }

    #confirme {
        width: 80%;
    }

    #logo {
        width: 40%;
    }

    #hora {
        text-align: center;
        font-family: serif;
        font-size: 16pt;
        margin-bottom: 5%;
    }

    #hora p {
        margin-bottom: 0%;
        margin-top: 5%;
    }

    #carol {
        font-size: 30pt;
        font-family: "Amarillo";
        margin-bottom: -70px;
        margin-left: -20px;
        display: block;
    }

    #anos {
        font-size: 20pt;
        font-family: 'Amarillo';
        margin-left: 80px;
        display: block;
    }

    #xv {
        font-family: serif;
        font-size: 33pt;
    }

    #botao {
        padding: 10px 15px;
        font-size: 15pt;
        display: block;
    }
}
