@charset "UTF-8";

/* Estilos gerais */

body {
    font-family: Helvetica, sans-serif;
    font-size: 30pt;
    overflow-x: hidden;
    overflow-y: scroll;
}

#cabecalho {
    background-image: url("https://carolxv.github.io/imagens/header.png");
    text-align: center;
    background-position: center;
    vertical-align: middle;
}

#confirme {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#carol {
    font-size: 49pt;
}

#botao {
    display: inline-block;
    margin-top: 10px;
    color: white;
    background-color: #a67c00;
    padding: 15px 20px;
    border-radius: 100px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
    body {
        font-size: 20pt;
    }

    #cabecalho {
        background-image: url("https://carolxv.github.io/imagens/header.png");
        background-position: center;
        text-align: center;
        margin-left: -2%;
        vertical-align: middle;
        margin-top: -1.6%;
        width: 104%;
        box-shadow: 0px 0px 20px rgba(0,0,0, .4);
        height: 320px;
    }

    #caroltitulo {
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }

    #confirme {
        width: 80%;
    }

    #carol {
        font-size: 24pt;
        font-family: 'Amarillo';
    }

    #xv {
        font-family: serif;
        font-size: 33pt;
    }

    #botao {
        padding: 10px 15px;
        font-size: 15pt;
    }
}
